$theme_black: #242424;
$theme_white: #dfdfdf;
$theme_gray: #6f6f6f;
$theme_red: #ef2222;
$theme_red_bg: $theme_red - #aa0000;

@font-face {
  font-family: 'Quicksand';
  src: url('font/Quicksand_Light-webfont.eot?') format('eot'),
       url('font/Quicksand_Light-webfont.woff') format('woff'),
       url('font/Quicksand_Light-webfont.ttf') format('truetype'),
       url('font/Quicksand_Light-webfont.svg#webfontbpxkzhcL') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('font/Quicksand_Bold-webfont.eot?') format('eot'),
       url('font/Quicksand_Bold-webfont.woff') format('woff'),
       url('font/Quicksand_Bold-webfont.ttf') format('truetype'),
       url('font/Quicksand_Bold-webfont.svg#webfontaEJ3th29') format('svg');
  font-weight: bold;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}


body {
  color: $theme_white;
  background: $theme_black;
  font-family: 'Lucida Grande',Verdana,'Bitstream Vera Sans',Arial,sans-serif;
  font-size: 11pt;
  line-height: 24px; 
}

@mixin header {
  font-family: Quicksand;
}

h1 {
  @include header;
  font-size: 2.9em; 
  line-height: 45px;
}

h2 {
  @include header;
  font-size: 2.2em;
  line-height: 40px;
}

h3 {
  @include header;
  font-size: 1.8em;
  line-height: 36px;
}

a {
  color: $theme_red;
  text-decoration: underline;
  &:hover {
    color: $theme_red + #101010;
    text-shadow: 0px 0px 1px black;
  }
}

p {
  padding: 0;
}

.notice {
  color: $theme_black;
  opacity: 0.9;
  background: $theme_white;
}

#main_header {
  height: 30px;
  margin-bottom: 30px;
  padding: 1px 5%;
  background: $theme_black - #101010;
  
  h1 {
    display: inline;
    font-size: 1.4em; 
    font-weight: 500;
    line-height: 32px; 

    a {
      color: $theme_white;
      &:active { color: $theme_white; }
      &:visited { color: $theme_white; }
      &:hover { color: $theme_white; }
    }
  }

  ul.header_links {
    float:right;
    display: inline;
    list-style: none; 

    li {
      float: right;
      padding: 2px 15px;
      font-family: Quicksand;
      font-weight: 400;
      line-height: 28px;
    }
  }

  a {
    text-decoration: none;
  }

}

#main_wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  min-width: 850px;
  overflow: hidden;

  #title {
    float: left;
    margin: auto;
    width: 34%;
    font-family: Quicksand;
    text-align: center;

    h1 {
      margin: 30px;
      line-height: 35px;
      font-size: 2.5em;
    }

    p {
      margin: 15px 30px;
      font-size: 1.2em;
      font-weight: 300;
      line-height: 26px;
    }
  }

  #showcase{
    width: 63%;
    float: right;
    text-align: right;

    img { margin: 10px; } 
  }

  #products_list {
    padding: 40px 0px 15px 10px;
    clear: both;
  } 
  
  #shops_list {
    padding: 15px 10px;
    clear: both;
  }

  h2 {
    color: $theme_gray;
    font-family: Quicksand;
    font-size: 2.2em;
  }

}

.devise {
  width: 500px;
  margin: 30px auto; 
}

.input_form {
  width: 500px;
  margin: 30px auto; 
}

.data {
  margin: 30px auto;
  width: 650px;
  max-width: 850px;

  table {
    margin-top: 20px;

    th {
      font-family: Quicksand;
      font-size: 1.2em;
    }

    tr {
      margin-bottom: 10px;
    }

    td {
    border: 1px solid red;
      padding: 4px;
    }
  }

  .edit {
    padding: 5px;
    text-align: right;
  }

  .description {
    padding: 12px;
    font-size: 1.3em;
    font-style: italic;
    font-family: Quicksand;
  }

  .price {
    padding: 12px;
  }

}

.address {
  font-weight: 300;
  text-align: right;
  margin-bottom: 1em;
}

.picture-list {
  width: 900px;
  margin: 20px auto;
}

ul.sale_items {
  margin: auto;
  list-style: none;
  li {  
    margin-bottom: 40px;  
    li {
      display: inline-block;
      width: 250px;
      margin: 0 1.5%;
    }
  }
  .buy {
    @include header;
    text-align: right;
    font-size: 1.2em;
    a {
      padding: 5px 1em;
      background-color: $theme_red_bg;
    }
  }
  .price {
    float: left;
    font-size: 1.2em;
  }
}

.full_product {
  
  .full_bg_image {
    width: 100%; 
    height: 600px; 
       -moz-background-size: cover;
         -o-background-size: cover;
    -webkit-background-size: cover;
            background-size: cover;
  }

  .product_data {
    display: inline;
    min-width: 250px;
    max-width: 380px;
    position: absolute;
    top: 80px;
    left: 80px;
    padding: 20px 30px;
    background: black;
    opacity: 0.85;
    box-shadow: 0px 0px 8px black;
   
    h1 {
      color: white;
      margin-bottom: 20px;
      font-size: 3.5em;
      
    }
    
    #product_links {
      display: inline;
      text-align: right;
      padding-bottom: 10px;
    }
    
    
    p {
      padding: 2px; 
    }

    .description {
      margin-bottom: 10px;
      font-size: 1.1em;
      font-style: italic;
      font-family: Quicksand;

      p { padding: 5px 2px; }
    }

    .prices {
      display: inline;
      float: right;
      font-family: Quicksand;
      text-align: right;

      .final {
        padding-top: 15px;
        color: white;
        font-size: 1.6em;
        font-weight: bold;
       }
     }
    
     #socialbox {
       display: inline-block;
       float: left;
       margin-top: 30px;
       padding-left: 10px;
     }
  }
}





@mixin user_input {
  margin-bottom: 15px;
  border: 0px;
  border-radius: 2px;
  width: 480px;
  padding: 8px 10px;
  font-size: 1.2em;
}

@mixin invalid_user_input {
  border: 1px solid red;
  box-shadow: 0px 0px 10px red;
}

form {
  width: 550px;
  padding-top: 10px;
  padding-left: 10px;

  #error_explanation {
    color: white;
    font-style: italic;

    ul {
      list-style: none;
      margin-bottom: 10px;
    }
  }

  .field_with_errors {
    padding: 0;
    label { text-shadow: 0px 0px 3px red }
    input {
      &[type=text]{
        @include invalid_user_input
      }
      &[type=password]{
        @include invalid_user_input
      }
    }
  }

  label {
    font-size: 1.2em;
  }

  textarea {
    @include user_input;
    height: 120px;
  }

  input{
    &[type=text] {
      @include user_input;
    }
    &[type=password] {
      @include user_input;
    }
    &[type=submit] {
      float: right;
      margin-top: 10px;
      margin-right: 50px;
      color: $theme_white;
      background: $theme_red;
      border: 0px;
      border-radius: 2px;
      padding: 8px 16px;
      font-size: 1.2em;
      cursor: pointer;
    }
    &[type=file] {
      @include user_input;
    }
  }  
}

.clear {
  clear: both;
}
