.description-layer {
	top: 0px;
	left: 3px;
	padding: 0px;
	height: 100px;
	width: 50%;
	background-color: black;
	color: white;
	z-index: 1;
	/*position: absolute;*/
	-khtml-opacity: 0.8;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	-moz-opacity: 0.8;
	overflow: hidden;
	position: absolute;
}
.zoom-control{
	top: 3px;
	margin-left: 462px;
	color: white;
	z-index: 1;
	position: absolute;
	overflow: hidden;
	position: absolute;
	cursor: pointer;
}
.controls-layer {
	left: 0px;
	padding: 2px;
	font-weight: bold;
	
	color: #AAFFAA;
	/*-khtml-opacity: 0.9;
	opacity: 0.9;
	filter: alpha(opacity = 90);
	-moz-opacity: 0.9;
	*/
	overflow: hidden;
	text-align: right;
}

.container-layer {
	position: relative;
	width: 480px;
	padding: 3px;
	background-color: black;
	font-family: helvetica;
}