<div id="main_wrapper">
  <div id="title"> 
    <h1>Do you own a small business?</h1>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  </div>
  <div id="showcase">
    <img src="/images/jam.jpg" alt="Yummy!!" />
  </div>
  
  <div class="picture-list">
    <div id="sales_list" class="clear">
      <h2>This just in!</h2>
      <%= render :partial => "/bundles/sales", :locals => { :bundles => @sales } %>
    </div>


    <div id="shops_list">
      <h2>Nuevos Comercios</h2>
      <ul class="bundles">
      <% @shops.each_slice(3) do |row| %>
        <li>
          <ul>
            <% row.each do |shop| %>
            <li>
              <h3><%= link_to shop.name, shop %></h3>
              <div><%= link_to shop do -%>
                <%= image_tag shop.logo.url(:medium) -%>
              <%- end -%></div>
            </li>
            <%- end-%>
          </ul>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
