<div id="user-management-butttons">
<%- if user_signed_in? -%>
	<span class="greeting">Hello <%= link_to current_user.email, my_shop_shops_path %></span> 
	| <%= link_to "Sign out", destroy_user_session_path %>
	<%- else -%>
	<%= link_to "Sign up", new_user_registration_path -%> or
	<%= link_to "Sign in", new_user_session_path %>
<%- end -%>
</div>
